<div class="card" >
    <img src="../../../assets/images/facu.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Facundo</h5>
      <p class="card-text">Hola, me gusta viajar y la musica</p>
   
    </div>
  </div>
  <div class="card" >
    <img src="../../../assets/images/kmett.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Kemett</h5>
      <p class="card-text">Hola, me gusta correr y la musica</p>
   
    </div>
  </div>
  <div class="card" >
    <img src="../../../assets/images/yamil.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Yamil</h5>
      <p class="card-text">Hola, me gusta viajar y correr</p>
  
    </div>
  </div>
