<div class="row" style="height:120px" ></div>

<div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
      
      <div class="col-md-6">
        <div class="card-body">
            <h4>
                Mejora el desempeño de tus pacientes y
                analiza su evolución rápidamente
           </h4>
           <p>
                Utiliza juegos para medir su avance y obtiene
                resultados precisos al instante
           </p>



           <div class="row">
            <div class="col-5 text-right pr-0 ">
                 <button class="btn btn-md btn-general2">Más Info</button>
             </div>
              <div class="col-7 text-left">
                   <button id="btn_Registrarme" class="btn btn-md btn-general" routerLink= "register">Registrarme <i class="fa fa-arrow-circle-right"></i></button>
               </div>
        </div>
        </div>
      </div>



      <div class="col-md-6">
        <img src="../../../assets/images/centralPrincipal.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>















  
        
           
      
   
   
