<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom shadow mb-3">
    <div class="container">
        <div class="navbar-header">
            <a  routerLink= "centro">
                <!-- Logo icon --><b>
                    <img src="../../../assets/images/logo1.png" alt="homepage" class="dark-logo" />
                    
                </b>
                <!-- Logo text --><span>
                    <!-- dark Logo text -->
                    <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                    <!-- Light Logo text   -->  </span> 
          </a>
        </div>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark menu-index " routerLink= "centro" >Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark menu-index " routerLink= "quienesSomos" >¿Quiénes Somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark menu-index " id="link_iniciarSesion" routerLink="login" >Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark menu-index " routerLink="registro" >Registrarme</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
